@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Fjalla+One|Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

/* Font Face */

@font-face {
  font-family: headingFont;
  src: url(OpenSans-Bold.ttf);
}

@font-face {
  font-family: bodyFont;
  src: url(Montserrat-Light.ttf);
}

/* Landing page styles  */

.homepage-wrapper {
  width: 100%;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: 10%;
}

.hero-container {
  width: 100%;
  height: 90%;
}

.hero-content {
  height: 100%;
  width: 100%;
}

.hero-content-container {
  height: 80%;
  width: 50%;
  text-align: center;
  margin: 2.5em auto;
}

h1 {
  font-family: headingFont;
  font-size: 3.5em;
  color: #727278;
  transition: 1s;
  margin-bottom: .75em;
}

h2 {
  font-family: headingFont;
  font-size: 2em;
  color: #727278;
  transition: 1s;
  margin-bottom: .25em;
}

h3 {
  font-family: headingFont;
  color: #727278;
  transition: 1s;
  margin-bottom: .25em;
}

p {
  font-family: bodyFont;
  color: #727278;
  transition: 2s;
  margin-bottom: .5em;
}

.hero-list {
  margin: 1em 0 4em 0;
}

.hero-list-item {
  text-align: left;
  margin: 2em 0 2em 0;

}

.number {
  padding: 10px 15px 10px 15px;
  background-image: linear-gradient(to top right, #35b729, #24CE48);
  border-radius: 100%;
  color: white;
  margin-right: 30px;
  font-size: 20px;
  text-align: center;
}

.hero-subheading {
  font-weight: bolder;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.hero-list-point {
  margin-left: 5.5em;
  font-size: .9em;
}

.logo {
  width: 150px;
  padding: 1em 0 0 2em;
}


.hero-cta-btn {
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 60px 10px 60px;
  background-image: linear-gradient(to top right, #35b729, #24CE48);
  border-radius: 20px;
  font-family: bodyFont;
  color: white;
}

.hero-cta-btn-2 {
  text-decoration: none;
  margin: 0 auto;
  padding: 8px 58px 8px 58px;
  border: 2px solid #727278;
  border-radius: 20px;
  font-family: bodyFont;
  color: #727278;
}


.hero-cta-btn:hover {
  background-color: #267E20;
}

.howitworks-container {
  width: 100%;
  height: 100%;
  margin: 4em 0 0 0;
}

.howitworks-content-container {
  height: 55%;
  width: 100%;
  text-align: center;
  margin: 2em auto 0 auto;
}

.howitworks-item {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: .5em 1em .5em 1em;
}

.howitworks-content h3 {
  font-size: .8em;
  margin-bottom: 10px;
}

.howitworks-content p {
  font-size: .8em;
}

.icon {
  padding: 10px 15px 10px 15px;
  background-image: linear-gradient(to top right, #35b729, #24CE48);
  border-radius: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  display: inline-block;
  font-family: bodyFont;
  margin-bottom: .3em;

}



@media (max-width: 450px){

  .hero-content-container {
    width: 100%;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    transition: 2s;
  }

  p {
    width: 80%;
    display: block;
    margin: 0 auto;
  }

  span.hero-subheading {
    display: inline-block;
    font-size: 1em;
    text-align: right;
    width: 65%;
    vertical-align: middle;
  }

  span.number {
    display: inline-block;
    width: 15%;
    vertical-align: middle;
  }

  p.hero-list-point {
    margin: 0;
    padding: 0;
    display: none;
    visibility: hidden;
  }

  .hero-cta-btn {
    display: block;
    width: 80%;
    margin-bottom: 10px;
  }

  .hero-cta-btn-2 {
    display: block;
    width: 80%;
  }

}
