@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Fjalla+One|Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

/* Font Face */

@font-face {
  font-family: headingFont;
  src: url(OpenSans-Bold.ttf);
}

@font-face {
  font-family: bodyFont;
  src: url(Montserrat-Light.ttf);
}

/* Landing page styles  */

.homepage-wrapper {
  width: 100%;
  height: 100vh;
}

.header-container {
  width: 100%;
  height: 10%;
}

.hero-container {
  width: 100%;
  height: 90%;
}

.hero-content {
  height: 100%;
  width: 100%;
}

.hero-content-container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: headingFont;
  font-size: 4em;
  color: #727278;
  padding: 1.5em 1em 0em .5em;
  transition: 2s;
  margin-bottom: .5em;
}

p {
  font-family: bodyFont;
  color: #727278;
  font-size: 1em;
  padding: 0em 2.5em 3em 2em;
  transition: 2s;
}

.logo {
  width: 150px;
  padding: 1em 0 0 2em;
}

.hero-link-container {
  height: 100%;
  width: 100%;
}

.hero-cta-btn {
  text-decoration: none;
  margin: 0 auto;
  padding: 10px 60px 10px 60px;
  background-image: linear-gradient(to top right, #35b729, #24CE48);
  border-radius: 20px;
  font-family: bodyFont;
  color: white;
}

.hero-cta-btn:hover {
  background-color: #267E20;
}



@media (max-width: 450px) and (min-width: 400px) {

  .hero-container {
    background: none;
    background-color: #35b729;
  }

  .hero-content-container {
    width: 100%;
    float: none;
  }

  h1 {
    font-size: 4.5em;
    text-align: center;
    transition: 2s;
    padding: 10%;
  }

  p {
    height: 0%;
    width: 0%;
    padding: 0;
    visibility: collapse;
    transition: none;
  }

  .hero-link-container {
    width: 100%;
  }

  .hero-cta-btn {
    background-color: white;
    color: #35b729;
    width: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .hero-cta-btn:hover {
    color: white;
  }

}

@media (max-width: 399px){

  .hero-container {
    background: none;
    background-color: #35b729;
  }

  .hero-content-container {
    width: 100%;
    float: none;
  }

  h1 {
    font-size: 4em;
    text-align: center;
    transition: 2s;
    padding: 10%;
  }

  p {
    height: 0%;
    width: 0%;
    padding: 0;
    visibility: collapse;
    transition: none;
  }

  .hero-link-container {
    width: 100%;
  }

  .hero-cta-btn {
    background-color: white;
    color: #35b729;
    width: 60%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .hero-cta-btn:hover {
    color: white;
  }

}

@media (max-width: 350px){



}
