
.homepage-wrapper {
  width: 100%;
  height: 100vh;
}

.hero-container {
  width: 100%;
  height: 80%;
  background: url('smartphone.jpg') no-repeat center center;
  background-size: cover;
}

.footer-container {
    width: 100%;
    height: 20%;
    background-color: lightgrey;
}
